body {
    font-family: "Poppins";
    font-size: 1.5em;
    padding: 20px 60px;
    line-height:1.2;
}

h1,h2,h3,h4 {
    font-family: "Open Sans";
    color:#333;
}

h3 {
    font-size:1.3em
}

a {
    text-decoration: none;
    color: black;
}

.imageWrapper, .menu-item {
    border: 1.5px solid #a9a7a7;
    border-radius: 25px;
    filter: drop-shadow(2px 2px 2px #b0b0b5);
}

* {
    box-sizing: border-box;
}


