.custom-button {
  min-width: 165px;
  width: 50%;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 20px;
  background-color: #574cb1;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  
  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border:none;
    }
  }

  &.inverted {
    background-color: rgba(0,0,0,0.9);
    color: white;
    a {
      color: white
    }

    &:hover {
      background-color: rgba(0,0,0,1.0);
    }

    .svg-inline--fa {
      position: absolute;
      top: 46%;
      -ms-transform: translateY(-46%);
      transform: translateY(-46%);
    }
  }
}

@media screen and (max-width: 1200px) {
  .custom-button {
    width:100%
  }
}