.header {
    min-height: 70px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }

    .branding {
      width:40%;
      float:left;
    }
  
    .options {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      float:left;
  
      .option {
        padding: 10px 15px;
        cursor:pointer;
        font-family:sans-serif;
        font-size:0.8em;
      }
    }
    h2 {
      position: relative;
      top: -26px;
      margin-left:0px;
      color: #e4a5a5;
      font-family: "Poppins";
    }
    .branding h2 {
      font-size:1.4em;
    }
  }

  @media screen and (max-width: 800px) {
    .header .options, .header .branding {
      width:100%;
      display:block;
      float:initial;
    }
    .header .options .option {
      width:100%
    }
    .header .options .option:hover {
      background:#640c6e;
      color:#fff;
    }
    .header h2 {
      position:initial;
      margin-bottom:10px;
    }
    body {
      font-size: 1.2em
    }
  }
  .clearfix {
    display: flow-root;
  }